body {
	background: black;
	background: url('../images/background.png');
	background-repeat: repeat;
}
.fa{
    color:#351f77;
    text-decoration: none;
}
.fa:hover {
    color:#FFBC00;
}
.fa-chevron-left{
	font-size:50px;
	margin-right:70px;
	margin-left:140px;
}
.fa-chevron-left:hover {
	text-decoration: none;
	color: #FFBC00;
}
.fa-cog{
	font-size:50px;
	margin-right:70px;
}
.fa-cog:hover {
	text-decoration: none;
	color: #FFBC00;
}
.fa-users{
	font-size:50px !important;
	margin-right:70px;
}
.fa-users:hover {
	text-decoration: none;
	color: #FFBC00;
}
.fa-commenting{
	font-size:50px;
	margin-right:70px;
}
.fa-commenting:hover {
	text-decoration: none;
	color: #FFBC00;
}
.fa-newspaper-o{
	font-size:50px;
	margin-right:70px;
}
.fa-newspaper-o:hover {
	text-decoration: none;
	color: #FFBC00;
}
header{
  width: 100%;
  DISPLAY: flex;
}
header nav ul {
    display: -webkit-box;
    padding: 15px ;
    margin-left:220px;
}
.corpo {
	width: 500px;
	margin: auto;
}
.conteudo {
	display: table;
	border-bottom: 1px solid #550dff;
	margin-bottom: 10px;
}
.imagem {
	display: table-cell;
	float: left;
	border-color:color:#351f77;
    border:1px solid #351f77;
}
.texto {
	display: table-cell;
	float: left;
	font-weight: bold;
	font-size: 17px;
	color:white;
}
.direita {
	float: right;
	margin-left: 140px;
	font-size: 17px;
	font-weight: bold;
	color:white;
}
.fa-user-plus {
	font-size: 40px;
	margin-left: 9px;
	color:#351f77;
}
.fa-user-plus:hover{
	text-decoration: none;
	color: #FFBC00;
}
footer {
	background-color: #2AA9E0;
	text-align: center;
	padding: 30px;
	border-radius: 0 0 30px 30px;
	border-top: 10px solid #550dff;
	font-weight: bold;
}
