body{
    background-image: url('../images/login_background.png');
}
.sec-form .form{
	max-width:70%;
	margin: 0 auto;
	display:table;
}
.form-login{
    margin-top: 370px;
	text-align:center;
	color:#FF6600;
}
.txt-box{
	border:1px solid;
	background:#white;
	border-radius:0px;
	width:230px;
	height:40px;
	padding-left:10px;
	color:#9933FF;
}
.form{
 	text-align:center;
	padding:25px;
}
.btn-login{
	border:none;
	background:#335aff;
	color:white;
	margin-top:10px;
	padding: 10px 20px;
	font-size:15px;
    border-radius: 15px;
}
.btn-login:hover{
	color:#FFBC00;
	cursor:pointer;
}