@media screen and (min-width: 0px){
ul {
	color: #0066FF;
}
}
@media screen and (min-width: 768px){
ul {
	color: blue;
}
}
@media screen and (min-width: 992px){
ul {
	color: black;
}
}
body {
	background: #f1f1f1;
	background: url('imagens/login_background2.png');
	background-repeat: repeat;
}
.fa-chevron-left {
	font-size: 40px;
	margin-left: 180px;
	margin-right: 60px;
	text-decoration: none;
	color:#550dff;
}
.fa-chevron-left:hover {
	text-decoration: none;
	color: #FFBC00;
}
.fa-cog {
	text-decoration: none;
	font-size: 40px;
	margin-right: 60px;
	color:#550dff;
}
.fa-cog:hover {
	text-decoration: none;
	color: #FFBC00;
}
.fa-users {
	text-decoration: none;
	font-size: 40px !important;
	margin-right: 60px;
	color:#550dff;
}
.fa-users:hover {
	text-decoration: none;
	color: #FFBC00;
}
.fa-commenting {
	font-size: 40px;
	margin-right: 60px;
	text-decoration: none;
	color:#550dff;
}
.fa-commenting:hover {
	text-decoration: none;
	color: #FFBC00;
}
.fa-newspaper-o {
	text-decoration: none;
	font-size: 40px;
	margin-right: 60px !important;
	color:#550dff;
}
.fa-newspaper-o:hover {
	text-decoration: none;
	color: #FFBC00;
}
header {
	width: 100%;
	DISPLAY: flex;
}
header nav ul {
	display: -webkit-box;
	padding: 10px 150px;
	margin-left: 210px;
}
.corpo {
	width: 500px;
	margin: auto;
}
.conteudo {
	display: table;
	border-bottom: 1px solid #550dff;
	margin-bottom: 10px;
}
.imagem {
	display: table-cell;
	float: left;
}
.texto {
	display: table-cell;
	float: left;
	font-weight: bold;
	font-size: 17px;
	color:white;
}
.direita {
	float: right;
	margin-left: 140px;
	font-size: 17px;
	font-weight: bold;
	color:white;
}
.fa-user-plus {
	font-size: 40px;
	margin-left: 9px;
	color:#550dff;
}
.fa-user-plus:hover{
	text-decoration: none;
	color: #FFBC00;

}
footer {
	background-color: #2AA9E0;
	text-align: center;
	padding: 30px;
	border-radius: 0 0 30px 30px;
	border-top: 10px solid #550dff;
	font-weight: bold;
}
